.parallax {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.scroller {
  display: flex;
  white-space: nowrap;
  will-change: transform;
}

.sv-section {
  display: flex;
  flex-direction: column;
  gap: 0;
}
